<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <section class="container">
    <h1>Lorem ipsum</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minus debitis quod et alias odio totam, fuga ipsum assumenda, neque, odit ullam? Ullam culpa magni similique et, aliquid eaque ipsam.
    </p>
  </section>

  <script src="/assets/js/bundle.js"></script>
</body>
</html>
