<%- include('includes/heads') %>
<%- include('includes/footer') %>

<body>
  <section class="container">
    <h1>
      <!-- <%numeros.forEach(num => { %> -->
        <!-- <%= num %> -->
      <!-- <% }) %> -->
            
      <%= titulo %>
    </h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minus debitis quod et alias odio totam, fuga ipsum assumenda, neque, odit ullam? Ullam culpa magni similique et, aliquid eaque ipsam.
    </p>
  </section>
