* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 106, 134);
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5em
}

.container {
    width: 80vw;
    max-width: 1000px;
    margin: 50px auto;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    padding: 0,2px 1px;
}

form button {
    border: none;
    background-color: rgb(13, 106, 134);
    color: white;
    padding: 10px;
    cursor: pointer;


}

form button:hover {
    background-color: rgb(6, 65, 83);
    
}

form input {
    padding: 10px;
}

.relogio {
    font-size: 90px;
    padding: 40px 40px 40px 10px;
}

button {
    font-size: 20px;
}

.pausado {
    color: red;
}